.memebers >.member-avatars {
  display: flex;
  justify-content: flex-start;
  margin: 0 -0.2em;
  flex-wrap: wrap;
}

.members .member-avatar.img-thumbnail {
  height: 65px;
  width: 65px;
  margin-left: 0.2em;
}
